<div id='edit-order-div'>
                        <ul class='edit-order-list'>
                            <li class='edit-order-list-item' ng-repeat="(key, order) in cart">
                                        <div class='edit ed-food-item'>
                                            <div class='image-box'>
                                                    <img class='img-rounded my-img' data-src='holder.js/300*200' src="{{order.menu_item_images[1].image_url}}" alt="">
                                            </div>
                                            
                                            
                                         </div>
                                        <div class="edit ed-food-details">
                                            <div class='item-name'>{{order.menu_item_name}}</div>
                                            <div> {{order.menu_item_description}} </div>
                                            <div style="border-top:1px solid dashed"><span class='menutime label label-info'><i class='sweet-icon icon-time'></i> 20 min</span>&nbsp;&nbsp;<span class="menu-price label label-info"><i>$ </i> {{order.menu_item_price}}</span></div>
                                            
                                        </div>                                         
                                        
                                        <div class='edit ed-remove'>
                                            <div class='pull-right'>
                                            <div class='ed-remove-button'>
                                             <a ng-click="removeItem(order.item_uid,cart)"class='btn btn-danger' ><i class='icon-minus'></i>
                                                    <div>REMOVE</div>
                                              </a>

                                            </div>
                                             <div class="ed-food-quantity">
                                                <i class='icon-check sweet-icon'></i>
                                                <span class='chic-numero'>{{order.quantity}}</span>
                                             </div>
                                            </div>
                                        </div>
                            </li>
        </ul>
</div>